@use 'base/variables' as v;
@use 'base/mixins' as m;


.equipos {
    background-color: v.$grisClaro;
    h2{
        @include m.headingBorder(v.$negro, v.$primario);
    }
    
    .equipos-grid {    
        
        @include m.grid(1,4rem);
        @include m.tablet {
            @include m.grid(2,2rem);
        }
        @include m.desktop {
            @include m.grid(3 ,2rem);
        }
    }
}

.equipo {
    margin: 1rem auto 1rem auto;
    .equipoimagen {
        max-width: 25rem;
    }
    .equiponombre {
        text-align: center;
        font-weight: 700;
    }
    .equipo-texto{        
        font-size: 1.4rem;
    }

}